@import url(style.css);


/* -------------------- BAND MEMBERS -------------------- */

.carta-band-members {
    width: 60%;
    color: var(--colorLetras);
    padding: 20px;
    margin: 40px;
    font-family: 'wolfs-bane-regular', sans-serif;
}

.carta-band-members h1 {
    padding-bottom: 20px;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-decoration: underline;
}

.carta-band-members img {
    width: 80%;
    border-radius: 20px;
    outline: 1px solid var(--colorBordes)
}

/* .carta-band-members img:hover {
    transition: all;
    transition-duration: 2s;
    border-radius: 20px;
    outline: 1px solid var(--colorBordes);
} */

.antiguos {
    width: 60%;
    color: var(--colorLetras);
    padding: 20px;
    margin: 40px;
    font-family: 'wolfs-bane-regular', sans-serif;
}

.antiguos h3 {
    padding-bottom: 20px;
    font-size: 3em;
    letter-spacing: 0.05em;
}

.antiguos li {
    font-size: 1.9em;
    letter-spacing: 0.05em;
}

ul {
    list-style: none;
}

.bandmembers {
    display: flex;
    margin: 10% 10% 10% 0;
}

.bandmembers img {
    width: 100%;
    height: 100%;
    opacity: .8;
}

.bandmembers img:hover {
    opacity: 1;
}

.bandIMG {
    width: 15%;
    height: auto;
    padding: 1%;
}

@media screen and (max-width: 1019px){
    .bandmembers{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .hess {
        font-size: 1.4em;
    }

    .carta-band-members {
        width: 80%;
    }

    .antiguos h3 {
        font-size: 2em;
        letter-spacing: 0.05em;
    }

    .antiguos li {
        font-size: 1.5em;
    }
}