@import url(style.css);

/* -------------------- GALLERY -------------------- */

.hess-gallery {
    width: 50%;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
    padding: 2%;
}

.hess-gallery h1 {
    color: var(--colorLetras);
    font-size: 5em;
    font-family: "wolfsbane", sans-serif;
    letter-spacing: 0.1em;
}

/* .efect h1 {
    padding-bottom: 5px;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-decoration: underline;
    border-radius: 3%;
    animation-name: latido;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

.caja-imgs {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.caja-imgs img {
    width: fit-content;
    height: 20em;
    margin: 2%;
    outline: 1px solid var(--colorBordes);
    border-radius: 1%;
    opacity: 0.6;
    min-height: 100px;
}

.caja-imgs img:hover {
    opacity: 1;
    transition: 0.5s;
}


/* ---------- LIGHTBOX ---------- */

#lightbox {
    /* Estilos para el elemento de fondo semitransparente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Opacidad semitransparente */
    display: none;
    /* Oculto por defecto */
}

#lightbox img {
    /* Estilos para la imagen ampliada */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ajusta el tamaño de la imagen ampliada */
    max-width: 90%;
    max-height: 90%;
}