@import url(style.css);

/* LETRAS */

.section-lyrics {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: start;
}

.hess-lyrics {
    color: var(--colorLetras);
    width: 100%;
    margin: 2%;
    padding: 2%;
    font-family: 'wolfsbane', sans-serif;
    font-size: 5em;
    letter-spacing: 0.05;   
}


.king, .god, .thoth, .outsider, .heroes, .battle, .chaos, .atlantean, .hagalaz {
    display: flex;
    width: 100%;
    padding: 2%;
}

.english-lyrics {
    color: var(--colorLetras);
    font-family: "wolfsbane", sans-serif;
    width: 45%;
    font-size: 1.5em;
    margin: .5em;
    padding: 1em;
    letter-spacing: 0.05em;
}


.english-lyrics-h3 {
    text-decoration: underline;
    font-size: 1.5em;
}
