@import url(style.css);

/* -------------------- MUSIC -------------------- */

/* .musica {
    float: right;
    width: 100%;
    padding: 25px;
    margin: 25px;
} */

.hess h1 {
    margin-left: 10%;
}

.music-img img {
    width: 60%;
    margin: 2% 0;
}

.carta-audio {
    outline: 1px solid rgb(223, 210, 64);
    margin: 10%;
    padding: 8% 8% 5% 5%;
    float: left;
}

.carta-audio p {
    margin: 0 1%;
    font-size: 1.2em;
}

.carta-audio h2 {
    font-size: 1em;
}

.hess-music {
    margin: auto;
    font-size: 2.5em;
}

/* -------------------- MUSIC PLAY-------------------- */

.play {
    background-color: var(--colorFondo);
    color: var(--colorLetras);
    font-family: 'wolfsbane', sans-serif;
    display: block;
    align-items: left;
    justify-content: left;
    width: 70%;
    margin: 5%;
    /* border-right: 2px solid rgb(223, 210, 64); */
}

.play h2 {
    font-size: 3em;
    text-decoration: underline;
    letter-spacing: 0.05em;
}

#audio-container {
    width: 80%;
    text-align: left;
    display: block;
    align-items: start;
    flex-wrap: wrap;
}


audio {
    width: 70%;
    margin-top: 10px;
}

#playlist-harpokrates,
#playlist-hagalaz,
#playlist-maiden,
#playlist-sailor,
#playlist-aeon, 
#playlist-blood {
    font-size: 2em;
    list-style: none;
    padding-bottom: 2em;
    text-align: left;
    /* max-width: 300px; */
    margin-top: 25px auto;
}

.playlist-item {
    cursor: pointer;
    margin: 10px 0;
    width: fit-content;
}

#audio-player {
    width: 70%;
    margin: 2%;
}

@media screen and (max-width: 768px) {
    .hess h1 {
        font-size: 2em;
        margin-left: 10%;
    }
    
    .music-img img {
        width: 60%;
        margin: 2% 0;
    }
    
    .carta-audio {
        outline: 1px solid rgb(223, 210, 64);
        margin: 10%;
        padding: 8% 8% 5% 5%;
        float: left;
    }
    
    .carta-audio p {
        margin: 0 1%;
        font-size: 2em;
    }
    
    .carta-audio h2 {
        font-size: 2em;
    }
    
    .hess-music {
        margin: auto;
        font-size: 2.5em;
    }
}