@font-face {
    font-family: wolfsbane;
    src: url(fonts/wolfsbane2.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'wolfsbane';
}


/* Variables */

:root {
    --colorFondo: #050300;
    --colorLetras: rgb(196, 169, 49);
    --colorBordes: rgb(223, 210, 64);
}


/* BODY */

#body {
    background: var(--colorFondo);
}

/* -------------------- NAV -------------------- */

.boton {
    padding: 2%;
    margin: 2%;
    text-align: center;
}

a img {
    width: 2em;
    padding: 5px;
}


.navegador {
    width: auto;
    height: 20em;
    background-image: url(assets/hess2g11.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: content-box;
    background-position-y: 40%;
}

/* ---------- Bbutton ---------- */

.dropbtn {
    background-image: url(assets/HESSlogo.png);
    background-size: 100% 100%;
    color: var(--colorLetras);
    padding: 6em;
    /* font-size: 16px; */
    outline: 1px solid var(--colorBordes);
    cursor: pointer;
    border-radius: 10px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: var(--colorFondo);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px var(--colorFondo);
    z-index: 100;
    border-radius: 10px;
    outline: 1px solid var(--colorBordes);
    padding: 0.6em;
    margin: auto;
}

.dropdown-content a {
    color: var(--colorLetras);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.dropdown-content a:hover {
    background-color: var(--colorFondo);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--colorFondo);
}


/* -------------------- FOOTER -------------------- */

.container-icons {
    width: 90%;
    margin: auto;
}

.ekm {
    color: var(--colorLetras);
    padding: 10px;
    display: inline;
    letter-spacing: 0.05em;
}

.copyright {
    width: 100%;
    text-align: center;
    letter-spacing: 0.05em;
}

.iconos {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.iconos a {
    width: 2em;
    display: flex;
    padding: 8px;
}

footer .home {
    display: inline;
    width: 100%;
    margin: auto;

}

footer .home a h3 {
    color: var(--colorLetras);
    padding: 10px;
    letter-spacing: 0.05em;
    text-align: center;
}
