@keyframes latido {
    0% {
        box-shadow: 0px 0px 20px var(--colorFondo);
    }

    100% {
        box-shadow: 0px 0px 20px gold;
    }
}

@font-face {
    font-family: wolfsbane;
    src: url(fonts/wolfsbane2.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'wolfsbane';
}


/* Variables */

:root {
    --colorFondo: #050300;
    --colorLetras: rgb(196, 169, 49);
    --colorBordes: rgb(223, 210, 64);
}


/* BODY */

#body {
    background: var(--colorFondo);
}

/* -------------------- NAV -------------------- */

.boton {
    padding: 2%;
    margin: 2%;
    text-align: center;
}

a img {
    width: 2em;
    padding: 5px;
}


.navegador {
    width: auto;
    height: 20em;
    background-image: url(assets/hess2g11.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: content-box;
    background-position-y: 40%;
}



.dropbtn {
    background-image: url(assets/HESSlogo.png);
    background-size: 100% 100%;
    color: var(--colorLetras);
    padding: 6em;
    /* font-size: 16px; */
    outline: 1px solid var(--colorBordes);
    cursor: pointer;
    border-radius: 10px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: var(--colorFondo);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px var(--colorFondo);
    z-index: 100;
    border-radius: 10px;
    outline: 1px solid var(--colorBordes);
    padding: 0.6em;
    margin: auto;
}

.dropdown-content a {
    color: var(--colorLetras);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.dropdown-content a:hover {
    background-color: var(--colorFondo);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--colorFondo);
}

/* -------------------- TITULO --------------------*/

.hess {
    color: var(--colorLetras);
    width: 50%;
    margin: 40px;
    font-family: 'wolfs-bane-regular', sans-serif;
    font-size: 2em;
    letter-spacing: 0.05;
}

.hess h1 {
    padding-bottom: 5px;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-decoration: underline;
}

/* -------------------- CARTAS -------------------- */

.cartas {
    width: 50%;
    margin: 40px;
    border: 1px solid var(--colorBordes);
    background-color: var(--colorFondo);
    border-radius: 2%;
}



.img-cartas img {
    width: 70%;
    padding: 3%;

}

.cartas h2 {
    text-decoration: underline;
    padding: 3%;
    margin: 1em 0;
    color: var(--colorLetras);
    font-size: 2.5em;
    letter-spacing: 0.05em;
}

.cartas p {
    padding: 3%;
    color: var(--colorLetras);
    font-size: 2em;
    letter-spacing: 0.05em;
}

.cartas a {
    color: var(--colorLetras);
    text-decoration: none;
}

.aside {
    width: 25%;
    float: right;
    margin: 40px;
    margin-top: 13%;
    background-color: var(--colorFondo);
}

.aside-title {
    padding: 1em;
}

.aside h2 a {
    color: var(--colorLetras);
    font-family: 'wolfsbane', sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
}

.cartas-aside {
    margin-bottom: 15px;
    border: 1px solid var(--colorBordes);
    border-radius: 2%;
}

.cartas-aside img {
    width: 90%;
    padding: 3%;
}

.cartas-aside h2 {
    text-decoration: underline;
    padding: 3%;
    color: var(--colorLetras);
    letter-spacing: 0.05em;
}

.cartas-aside p {
    padding: 3%;
    color: var(--colorLetras);
    letter-spacing: 0.05em;
}

/* -------------------- FOOTER -------------------- */

.container-icons {
    width: 90%;
    margin: auto;
}

.ekm {
    color: var(--colorLetras);
    padding: 10px;
    display: inline;
    letter-spacing: 0.05em;
}

.copyright {
    width: 100%;
    text-align: center;
    letter-spacing: 0.05em;
}

.iconos {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.iconos a {
    width: 2em;
    display: flex;
    padding: 8px;
}

footer .home {
    display: inline;
    width: 100%;
    margin: auto;

}

footer .home a h3 {
    color: var(--colorLetras);
    padding: 10px;
    letter-spacing: 0.05em;
    text-align: center;
}


/* -------------------- MUSIC -------------------- */

.musica {
    float: right;
    width: 40%;
    padding: 25px;
    margin: 25px;
}

/* -------------------- BAND MEMBERS -------------------- */

.carta-band-members {
    width: 60%;
    color: var(--colorLetras);
    padding: 20px;
    margin: 40px;
    font-family: 'wolfs-bane-regular', sans-serif;
}

.carta-band-members h1 {
    padding-bottom: 20px;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-decoration: underline;
}

.carta-band-members img {
    width: 80%;
}

.carta-band-members img:hover {
    transition: all;
    transition-duration: 2s;
    outline: 1px solid var(--colorBordes);
}

.antiguos {
    width: 60%;
    color: var(--colorLetras);
    padding: 20px;
    margin: 40px;
    font-family: 'wolfs-bane-regular', sans-serif;
}

.antiguos h3 {
    padding-bottom: 20px;
    font-size: 2em;
    letter-spacing: 0.05em;
}

.antiguos li {
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

ul {
    list-style: none;
}


/* -------------------- MELANI HESS -------------------- */

.carta-melani-hess {
    width: 90%;
    color: var(--colorLetras);
    padding: 20px;
    margin: 40px;
    font-family: 'wolfs-bane-regular', sans-serif;
}



.carta-melani-hess h1 {
    margin: 20px;
    padding: 20px 0;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-decoration: underline;
    color: var(--colorLetras);
}

.carta-melani-hess img {
    width: 50%;
    margin: 20px;

}

.carta-melani-hess img:hover {
    transition: all;
    transition-duration: 2s;
    outline: 1px solid var(--colorBordes);
}

.melani-info {
    width: 70%;
    color: var(--colorLetras);
    margin: 20px;
    font-family: 'wolfs-bane-regular', sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    padding-bottom: 30px;
}

.melani-history {
    width: 70%;
    margin: 20px;
    color: var(--colorLetras);
    font-size: 1.5em;
    letter-spacing: 0.05em;
    padding-bottom: 3em;
}

.melani-history h3 {
    padding: 20px 0;
}

.line {
    width: 70%;
    border-bottom: solid 2px var(--colorBordes);
    margin-bottom: 5%;
    margin-left: 1%;
}

.discography {
    width: 50%;
    color: var(--colorLetras);
    margin: 20px;
    font-family: 'wolfs-bane-regular', sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    padding-bottom: 30px;
}

.discography h3 {
    padding-bottom: 2em;
    letter-spacing: 0.05em;
}

.discography h4 {
    padding-bottom: 0.8em;
    letter-spacing: 0.05em;
}

.discography ul {
    padding-bottom: 2em;
}

.mel-player {
    width: 50%;
    margin: 20px;
    background-color: var(--colorFondo);
}


/* -------------------- MUSIC -------------------- */

.play {
    background-color: var(--colorFondo);
    color: var(--colorLetras);
    font-family: 'wolfsbane', sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.play h2 {
    font-size: 3em;
    text-decoration: underline;
    letter-spacing: 0.05em;
}

#audio-container {
    text-align: center;
    margin: 5em;
}


audio {
    width: 100%;
    margin-top: 10px;
}

#playlist-harpokrates,
#playlist-hagalaz,
#playlist-maiden,
#playlist-sailor,
#playlist-aeon {
    font-size: 2em;
    list-style: none;
    padding-bottom: 2em;
    text-align: center;
    /* max-width: 300px; */
    margin-top: 25px auto;
}

.playlist-item {
    cursor: pointer;
    margin: 10px 0;
}


/* -------------------- INTERVIEWS -------------------- */

.interviews-h1 {
    width: 50%;
    margin: 1.3em;
    color: var(--colorLetras);
    font-size: 4em;
    font-family: 'wolfsbane', sans-serif;
    letter-spacing: 0.05em;
    text-decoration: underline;
}

.article {
    border-right: 1px solid var(--colorBordes);
    width: 75%;
}


.interviews-cards {
    color: var(--colorLetras);
    font-style: 'wolfsbane', sans-serif;
    letter-spacing: 0.05em;
    /* border: 0.5px solid var(--colorBordes); */
    width: 75%;
    padding: 2em;
    margin: 3em;
}

.interviews-cards h2 {
    border-top: 0.8px solid var(--colorBordes);
    padding: 0.5em;
    font-size: 3em;
    width: 50%;
}

.interviews-cards p {
    width: 70%;
    padding: 1em;
    font-size: 1.5em;
}

.interviews-cards img {
    width: 90%;
    padding-bottom: 1em;
}

.interviews-cards a {
    padding: 1em;
    font-size: 2em;
    letter-spacing: 0.05em;
    color: var(--colorLetras);
}

.interviews-cards iframe {
    width: 90%;
}


/* -------------------- BIOGRAPRHY -------------------- */

.article-biography {
    border: 1px solid var(--colorBordes);
    width: 95%;
    margin: 2em;
    display: flex;
}

.left {
    float: left;
    width: 45%;
    margin: 2%;
    margin-bottom: 2em;
}

.right {
    width: 45%;
    float: right;
    margin: 2%;
    margin-bottom: 2em;
}

.left h2,
.right h2 {
    color: var(--colorLetras);
    text-align: left;
    text-decoration: underline;
    font-style: 'wolfsbane', sans-serif;
    font-size: 3em;
    letter-spacing: 0.05em;
    padding: 0.5em;
}

.left h3,
.right h3 {
    color: var(--colorLetras);
    text-align: left;
    text-decoration: underline;
    font-style: 'wolfsbane', sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    padding: 1em;
    margin-top: 3em;

}

.left p,
.right p {
    color: var(--colorLetras);
    text-align: left;
    font-style: 'wolfsbane', sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    padding: 0.5em;
}

.left ul li,
.right ul li {
    color: var(--colorLetras);
    text-align: left;
    font-style: 'wolfsbane', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    padding: 0.5em;
}

.biography-link {
    padding: 1em;
    font-size: 2em;
    letter-spacing: 0.05em;
    color: var(--colorLetras);
}


/* -------------------- GALLERY -------------------- */


.hess-gallery {
    color: var(--colorLetras);
    width:fit-content;
    margin: auto;
    font-family: 'wolfs-bane-regular', sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.05;
    text-align: center;
}


.efect h1 {
    padding-bottom: 5px;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-decoration: underline;
    border-radius: 3%;
    animation-name: latido;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.caja-imgs {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.caja-imgs img {
    height: 40vh;
    margin: 2%;
    outline: 1px solid var(--colorBordes);
    border-radius: 1%;
    opacity: 0.6;
    min-height: 100px;
    
}

.caja-imgs img:hover {
    opacity: 1;
    transition: .5s;
}


/* LETRAS */

.english-lyrics {
    color: var(--colorLetras);
    font-family: "wolfsbane", sans-serif;
    width: 40%;
    font-size: 1.5em;
    margin: .5em;
    padding: 1em;
    letter-spacing: 0.05em;
}

.english-lyrics-h3 {
    text-decoration: underline;
    font-size: 1.5em;
}